# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# PostgreSQL
POSTGRES_DB=supporttickets
POSTGRES_USER=supporttickets
POSTGRES_PASSWORD=SupportTickets@123

# Connection string
# Use Host=postgres rodando com Docker Compose
# Use Host=localhost quando usar a API localmente com PostgreSQL instalado na maquina
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=supporttickets;Username=supporttickets;Password=SupportTickets@123

# JWT
Jwt__Issuer=SupportTickets.Api
Jwt__Audience=SupportTickets.Client
Jwt__SecretKey=SupportTicketsJwtSecretKey-2026-DevOnly-ChangeMe
Jwt__ExpirationMinutes=120
